@import '../../../../../styles';

.container-messages {

  @include element('bot'){
    clear: both;
    background-color: $primary-color-100;
    color: var(--surface-700);
    border-radius: 8px 8px 0 8px;
    padding: 9px 12px;
    float: left;
    @include apply-style-texts(16px, 400, 24px);
    margin: 20px 0;

  }

  @include element('user'){
    clear: both;
    background-color: $primary-color-600;
    color: $color-white;
    padding: 9px 12px;
    border-radius: 8px 8px 0 8px;
    text-align: right;
    float: right;
    @include apply-style-texts(16px, 400, 24px);
    margin: 20px 0;

  }
}

.overlay__container {
  display: flex;
  gap: 5px;
  justify-content: center;
}
::ng-deep .overlay__button-success > button {
  background-color: $color-success !important;
}

::ng-deep .overlay__button-danger > button {
  background-color: $color-danger !important;

}
