@import '../../../../../styles';

section {
  text-align: center;
  max-height: 550px;
  overflow-y: auto;
}
.container {

  overflow-y: auto;
  @include element('text') {
    @include apply-style-texts(18px,500,24px);
    color: $color-gray-600;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding: 20px;
}
.container-textarea {
  width: 100%;
  max-height: 250px;
  &:focus {
    border-color: $primary-color-500;
    box-shadow: 0 0 0 0.2rem  $primary-color-200;
  }
  &:hover {
    border-color: $primary-color-500;
  }
}
::ng-deep .p-inputtextarea {
  overflow-y: auto !important;
  width: 100%;
  max-height: 150px;
  &:focus {
    border-color: $primary-color-500;
    box-shadow: 0 0 0 0.2rem  $primary-color-200;
  }
  &:hover {
    border-color: $primary-color-500;
  }
}
::ng-deep .input {
  &:focus {
    border-color: $primary-color-500;
    box-shadow: 0 0 0 0.2rem  $primary-color-200;
  }
}

::ng-deep .button-next > button {
  background-color: $primary-color-400 !important;

  &:focus {
    border-color: $primary-color-500;
    box-shadow: 0 0 0 0.2rem  $primary-color-200;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

#vacancy {
  width: 100%;
  &:focus {
    border-color: $primary-color-500;
    box-shadow: 0 0 0 0.2rem  $primary-color-200;
  }
  &:hover {
    border-color: $primary-color-500;
  }
}

::ng-deep .floatlabel-input-vacancy {
  width: 100% !important;
  &:focus {
    border-color: $primary-color-500;
    box-shadow: 0 0 0 0.2rem  $primary-color-200;
  }
  &:hover {
    border-color: $primary-color-500;
  }
}
