<section class="section">
  <div class="container-messages"  #container>
    @if (vacancy && messageInitial) {
      <app-bubble-chat  [content]="messageInitial" [role]="'Bot'"></app-bubble-chat>

    }
    @for (msg of messages; track $index) {
          <app-bubble-chat  [content]="msg.content" [role]="msg.role"></app-bubble-chat>
        }
        @if (isGenerateQuestion()) {
          <app-loader-chat></app-loader-chat>
        }
  </div>
  <app-send-messages-chat [disable]="disableChat" (valueChat)="sendMessageBot($event)"></app-send-messages-chat>
</section>
