/** PALETA DE COLORES **/
$primary-color-50: var(--yellow-50);
$primary-color-100: var(--yellow-100);
$primary-color-200: var(--yellow-200);
$primary-color-300: var(--yellow-300);
$primary-color-400: var(--yellow-400);
$primary-color-500: var(--yellow-500);
$primary-color-600: var(--yellow-600);
$primary-color-700: var(--yellow-700);
$primary-color-800: var(--yellow-800);
$primary-color-900: var(--yellow-900);
$color-white: var(--surface-0);
$color-gray-400 :var(--surface-400);
$color-gray-600 :var(--surface-600);

$color-success: var(--green-300);
$color-danger: var(--red-300);
